<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>CCP大学生竞赛平台</title>
</head>
<body>
<noscript>
    <strong>We're sorry but hello-world doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"><app username={{ username }} contestId={{ contentId }}></app></div>
<!-- built files will be auto injected -->

<p id="csrf-token" hidden>{% csrf_token %}</p>

</body>
</html>