.navibar{
    width: 100%;
    z-index: 60;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    position: fixed;
    left: 0;
    top: 0;
    font-size: 40px;
}
.navi-left .navi-right{
    padding: 0;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
    list-style: none;
    font-size: inherit;
}
.navi-left{
    float: left;
}
.navi-right{
    float: right;
}
.navili{
    float:left ;
    list-style:none;
    margin: 0 10px;
    font-size: inherit;
}
.navihref:link{
    color: black;
    text-decoration: none;
}
.naviicon {
    width: 119px;
    height: 73px;
    float: left;
    margin: 0 10px;
    background-image: url(../img/ccpicon.png);
}
.register-input-title{
}

.register-input-info{
    color:gray;
    font-size: 9px;
}

.register-input{
    width:200px;
}